In [2]:
import pandas as pd
import numpy as np




#First making sure integers don't have floating points
pd.set_option('precision', 0)
#loading Data File
member_export = pd.read_excel('March HF LOB.xlsx')
member_participation = pd.read_excel('March Member Participation.xlsx', sheet_name ='Points Earned', parse_date='Participation Date')
# member_redemption = pd.read_excel('HF Member Redemption.xlsx', parse_date='Updated')

#cleaning the member export for valid members
df = member_export.loc[(member_export['Activated'] == True) 
                                        & (member_export['Email Valid'] == True) 
                                        & (member_export['Test Account'] == False) 
                                        & (member_export['User Role'] == 'MEMBER')]

In [ ]:
#For when I want to be able to return the values of each column
# list(df.columns)

print(df)

In [ ]:
df['Status'].value_counts()

In [2]:
active_inactive = df['Status'].value_counts().sort_index()

In [3]:
print(active_inactive)

ACTIVE      475
CLOSED      346
DELETED     321
INACTIVE    351
Name: Status, dtype: int64

In [4]:
###This is how to filter with or logic
df.loc[(df['Status'] == 'ACTIVE') | (df['Status'] == 'INACTIVE')]

,User ID,User Role,Username,Email,FirstName,LastName,Status,Erased,Activated,Email Valid,...,Survey Name,Survey ID,Survey Response ID,Login Count,Content Count,Content Survey Count,Content Attachment Count,Total Comment Count,LOB,HFReportedLOB
7,1028438,MEMBER,sschemx93,sschemx93@gmail.com,Samantha,Schem,ACTIVE,NaN,True,True,...,Community Screener,SV_eXrf9NEHs9OsThH,R_3hDqFGPdprpWdWt,21,0,10,0,2,QHP,QHPPlan
18,1028457,MEMBER,rlindenfelzer,richard@lindenfelzer.com,Richard,Lindenfelzer,ACTIVE,NaN,True,True,...,Community Screener,SV_eXrf9NEHs9OsThH,R_324wGASWJ1YZRXJ,133,0,35,1,14,Medicaid,MedicaidPlan
19,1028464,MEMBER,anewnormal,a.newnormal.1001@gmail.com,Jamie,Grogan,ACTIVE,NaN,True,True,...,Community Screener,SV_eXrf9NEHs9OsThH,R_1I4tqLVmd0a2P8H,8,0,8,0,3,Medicaid,MedicaidPlan
26,1028489,MEMBER,cece,hotdiamondck1@yahoo.com,Beth,Ortiz,INACTIVE,NaN,True,True,...,Community Screener,SV_eXrf9NEHs9OsThH,R_8tYCSsoaeQF9I1H,9,0,5,0,0,Medicaid,MedicaidPlan
29,1028495,MEMBER,molesworth2,wendy@johnandwendy.com,Wendy,Walters,INACTIVE,NaN,True,True,...,Community Screener,SV_eXrf9NEHs9OsThH,R_1eUUxDJlYPQqgN9,53,0,29,0,16,Medicaid,MedicaidPlan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,1265358,MEMBER,kristindegroot,kristindegroot923@gmail.com,Kristin,DeGroot,ACTIVE,NaN,True,True,...,V2 Community Screener,SV_dbX2gERcwAwJ8vr,R_1Hcmbz0IXWYzCzX,3,0,3,0,0,Medicaid Plan,MedicaidPlan
1803,1267331,MEMBER,missreyn1,mz.reynoso@gmail.com,Gercis,Reynoso,ACTIVE,NaN,True,True,...,V2 Community Screener,SV_dbX2gERcwAwJ8vr,R_2CTw0AlUgcItg6D,9,0,4,0,0,Medicaid Plan,MedicaidPlan
1804,1271083,MEMBER,mikebear,mikejmare@gmail.com,Mike,Mare,ACTIVE,NaN,True,True,...,V2 Community Screener,SV_dbX2gERcwAwJ8vr,R_3Mlle74I4XOsZ50,6,0,3,0,0,QHP,QHPPlan
1805,1273537,MEMBER,juddlevy,juddlevy@outlook.com,Judd,Levy,ACTIVE,NaN,True,True,...,V2 Community Screener,SV_dbX2gERcwAwJ8vr,R_3MlMKkmFfhuL9Tc,6,0,2,0,0,Medicaid Plan,MedicaidPlan
1806,1273968,MEMBER,jtuckerperc,jtuckerpercussion@gmail.com,Joe,Tucker,ACTIVE,NaN,True,True,...,V2 Community Screener,SV_dbX2gERcwAwJ8vr,R_rpqWI1zvXDIJJVT,1,0,2,0,0,Medicaid Plan,MedicaidPlan

In [5]:
logins = df.loc[(df['Status'] == 'INACTIVE')]['Last Login Date']

In [6]:
print(logins)

26      01/16/2020 23:27:12 PST
29      02/06/2020 19:30:00 PST
52      12/19/2019 18:14:15 PST
64      01/16/2020 11:39:01 PST
86      02/22/2020 19:05:04 PST
                 ...
1796    03/01/2020 21:36:32 PST
1797    02/29/2020 11:07:01 PST
1799    03/01/2020 22:33:04 PST
1800    03/03/2020 11:46:48 PST
1801    03/06/2020 04:33:23 PST
Name: Last Login Date, Length: 351, dtype: object

In [35]:
result = list(map(lambda x: x[0:10], logins))

In [41]:
date_time = list(map(lambda x: datetime.strptime(x,'%m/%d/%Y').date(), result))

In [44]:
##This works, but for some reason I want to make it a list comprehension

date_list_comp = [x[0:10] for x in logins]

In [58]:
test = [datetime.strptime(x[0:10],'%m/%d/%Y').date() for x in date_list_comp]

AttributeError: module 'datetime' has no attribute 'strptime'

In [46]:
date_list_to_time = [datetime.strptime(x,'%m/%d/%Y').date() for x in date_list_comp]

In [56]:
import datetime

today = datetime.date.today()
test = [(today - x).days for x in date_list_to_time]

In [59]:
print(test)

[128, 107, 156, 128, 91, 136, 123, 107, 87, 114, 120, 120, 149, 120, 128, 103, 157, 144, 90, 94, 141, 155, 94, 114, 115, 87, 158, 119, 109, 91, 86, 155, 117, 145, 138, 120, 123, 103, 124, 114, 109, 81, 138, 94, 110, 115, 79, 75, 75, 120, 151, 100, 91, 162, 131, 81, 103, 114, 115, 114, 75, 120, 94, 125, 92, 159, 95, 157, 124, 107, 123, 76, 141, 124, 118, 90, 106, 90, 89, 106, 141, 124, 138, 109, 82, 75, 106, 137, 120, 107, 90, 95, 138, 136, 114, 119, 78, 109, 100, 101, 110, 128, 135, 113, 158, 99, 137, 120, 74, 153, 138, 87, 159, 159, 74, 156, 120, 107, 136, 75, 120, 138, 114, 135, 94, 94, 92, 152, 87, 110, 103, 92, 96, 92, 92, 120, 137, 92, 85, 128, 136, 139, 114, 99, 114, 103, 96, 114, 114, 84, 94, 114, 114, 114, 114, 108, 114, 110, 110, 114, 114, 114, 101, 112, 93, 114, 113, 94, 114, 114, 110, 114, 114, 114, 114, 114, 94, 75, 86, 113, 113, 113, 100, 113, 113, 110, 100, 110, 96, 86, 113, 110, 113, 83, 100, 113, 100, 85, 113, 113, 113, 113, 95, 113, 102, 103, 113, 113, 86, 90, 103, 113, 113, 86, 113, 113, 113, 85, 113, 113, 113, 113, 113, 113, 110, 82, 113, 111, 113, 113, 92, 100, 113, 112, 110, 112, 83, 111, 112, 112, 103, 89, 112, 111, 82, 112, 111, 111, 75, 110, 110, 110, 100, 110, 109, 94, 109, 78, 109, 107, 107, 107, 92, 107, 107, 107, 107, 99, 107, 107, 107, 107, 107, 107, 96, 107, 107, 107, 96, 100, 107, 107, 86, 106, 106, 106, 106, 106, 96, 106, 106, 102, 106, 106, 106, 106, 87, 89, 106, 106, 106, 94, 105, 105, 103, 105, 105, 91, 104, 104, 104, 104, 103, 103, 103, 100, 103, 94, 85, 103, 92, 103, 103, 103, 103, 103, 103, 103, 94, 100, 89, 100, 93, 89, 99, 98, 98, 98, 97, 94, 91, 91, 88, 86, 86, 86, 83, 84, 83, 81, 78]

In [67]:
level_1 = len([x for x in test if x > 80 and x < 100])

In [69]:
print(level_1)
len(level_1)

[91, 87, 90, 94, 94, 87, 91, 86, 81, 94, 91, 81, 94, 92, 95, 90, 90, 89, 82, 90, 95, 99, 87, 94, 94, 92, 87, 92, 96, 92, 92, 92, 85, 99, 96, 84, 94, 93, 94, 94, 86, 96, 86, 83, 85, 95, 86, 90, 86, 85, 82, 92, 83, 89, 82, 94, 92, 99, 96, 96, 86, 96, 87, 89, 94, 91, 94, 85, 92, 94, 89, 93, 89, 99, 98, 98, 98, 97, 94, 91, 91, 88, 86, 86, 86, 83, 84, 83, 81]

89

In [29]:
from datetime import datetime
otherday = datetime.strptime('01/16/2020','%m/%d/%Y').date()

In [50]:
import datetime

today = datetime.date.today()

In [18]:
print(today)

2020-05-23

In [31]:
print(today - otherday)

128 days, 0:00:00

In [ ]:
member_participation = pd.read_excel('March Member Participation.xlsx', sheet_name ='Points Earned', parse_date='Participation Date')

In [3]:
member_participation = pd.ExcelFile('March Member Participation.xlsx')
df1 = pd.read_excel(member_participation, 'Points Earned')

In [81]:
print(type(df1['Points Earned']))

<class 'pandas.core.series.Series'>

In [82]:
df1['Points Earned'].sum()

1324

In [105]:
#Working on actions

actions = pd.read_excel(member_participation, 'Export Summary')

In [111]:
print(actions)

                    Title            March Metrics
0              Date Range  03/01/2020 - 04/01/2020
1    Participation Counts                      NaN
2                  Logins                     1763
3                Comments                      565
4       Surveys Completed                      361
5    Quick Poll Completed                        0
6  Member Posts Submitted                        0
7                   Views                     2286
8          Files Uploaded                       29
9  Lifetime Points Earned                     7182

In [137]:
print(int(actions.iloc[8,1]))

29

In [4]:
actions2 = pd.read_excel(member_participation, 'Member Participation Counts')

In [8]:
type(len(actions2['Username']))

int

In [84]:
member_redemption = pd.read_excel('March Member Redemption.xlsx', sheet_name ='Redemptions')

In [102]:
list_of_values = sum([int(x[1:2]) if x[0:2] == '$5' else int(x[1:3]) for x in member_redemption['Reward']])

In [103]:
print(list_of_values)

4600

In [ ]:
#WHICH ONE SHOULD I USE?? Pivot is the only one that actually works

###df.pivot_table(index = 'Status', columns = 'HFReportedLOB')
###df.pivot(index = 'Status', columns = 'HFReportedLOB')
table = pd.crosstab(index = df['Status'],columns =  df['HFReportedLOB'])

In [ ]:
pd.pivot_table(df, index = 'Status', columns = 'HFReportedLOB', aggfunc = 'sum')

In [ ]:
print(table['Status'])

table.values.tolist()